# ==========================================
# IDE e Sistema Operacional
# ==========================================
.idea/
*.iml
*.iws
.vscode/
.DS_Store
Thumbs.db

# ==========================================
# Frontend (Angular / Node.js)
# ==========================================
node_modules/
dist/
.angular/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# Backend (Spring Boot / Java / Maven)
# ==========================================
target/
*.class
*.jar
*.war
*.ear
*.nar
*.log
hs_err_pid*

# Arquivos temporários do Maven
.mvn/
dependency-reduced-pom.xml